<!-- <a [routerLink]="['/project', id]">
    <img [src]="thumbnail" [alt]="name" srcset="">
    <h3 class="font-semibold">{{name}}</h3>
    <ul class="flex gap-1">
        <li class="text-sm" *ngFor="let tag of tags" >{{tag}}</li>
    </ul>
</a> -->
<a [routerLink]="['/project', id]">
  <figure class="relative max-w-sm transition-all duration-300 cursor-pointer filter lg:grayscale hover:grayscale-0">
    <a href="#">
      <img class="rounded-lg" src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/content/content-gallery-3.png" alt="image description">
    </a>
    <figcaption class="absolute p-4 text-lg text-black bottom-0 h-25 w-full bg-white opacity-95">
      <h3 class="font-semibold">{{name}}</h3>
      <ul class="flex gap-1 mt-1">
          <li *ngFor="let tag of tags" class="text-sm font-semibold bg-{{tag.color}}-100 text-{{tag.color}}-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded dark:bg-{{tag.color}}-900 dark:text-{{tag.color}}-300">{{tag.name}}</li>
      </ul>
    </figcaption>
  </figure>
</a>



