<div id="navbar-button" class="md:hidden py-2 px-4 w-screen border-gray-200 dark:bg-gray-900 fixed top-0 z-20 flex flex-col transition-all duration-1000">
  <button type="button" class="lg:hidden self-end inline-flex items-center py-2 w-10 h-10 justify-center text-sm text-gray-500 rounded-md bg-gray-50 focus:outline-none focus:ring-2 focus:ring-gray-100 dark:text-gray-600 dark:hover:bg-gray-700 dark:focus:ring-gray-600" data-drawer-target="drawer-example" data-drawer-show="drawer-example" aria-controls="drawer-example">
    <span class="sr-only">Open main menu</span>
    <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 17 14">
        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 1h15M1 7h15M1 13h15"/>
    </svg>
  </button>
</div>

<!-- drawer component -->
<div id="drawer-example" class="fixed top-0 left-0 z-40 h-screen p-4 overflow-y-auto transition-transform duration-700 -translate-x-full bg-gray-50 w-80 dark:bg-gray-800" tabindex="-1" aria-labelledby="drawer-label">
  <h5 id="drawer-label" class="inline-flex items-center mb-4 text-lg font-semibold text-gray-500 dark:text-gray-400">
    <!--<svg class="w-4 h-4 me-2.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
      <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"/>
 </svg>-->Portfólio</h5>

  <button type="button" data-drawer-hide="drawer-example" aria-controls="drawer-example" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 absolute top-2.5 end-2.5 flex items-center justify-center dark:hover:bg-gray-600 dark:hover:text-white" >
     <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
     </svg>
     <span class="sr-only">Close menu</span>
   </button>

   <nav id="navbar-default">
    <ul class="h-screen font-medium flex flex-col gap-5 border border-gray-100 dark:bg-gray-800 dark:border-gray-700">
      <li class="flex items-center gap-3">
        <img class="w-5 h-5" src="../../../assets/images/about.png" alt="">
        <a href="#about" data-drawer-hide="drawer-example" class="block text-gray-900 font-semibold rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent">Sobre</a>
      </li>
      <li class="flex items-center gap-3">
        <img class="w-6 h-6" src="../../../assets/images/skills.png" alt="">
        <a href="#skills" data-drawer-hide="drawer-example" class="blocktext-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent font-semibold">Habilidades</a>
      </li>
      <li class="flex items-center gap-3">
        <img class="w-6 h-6" src="../../../assets/images/projects.png" alt="">
        <a href="#works" data-drawer-hide="drawer-example" class="block text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent font-semibold">Projetos</a>
      </li>
      <li class="flex items-center gap-3">
        <img class="w-6 h-6" src="../../../assets/images/contact.png" alt="">
        <a href="#contact" data-drawer-hide="drawer-example" class="block text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent font-semibold">Contato</a>
      </li>
    </ul>
  </nav>
</div>

<!-- <nav class="bg-transparent w-screen border-gray-200 dark:bg-gray-900 fixed top-0 right-0">
  <div class="w-screen-xl flex flex-wrap items-center justify-between mx-auto pt-4 sm:p-4">
    <a class="flex items-center space-x-3 rtl:space-x-reverse">
    </a>
    <button data-collapse-toggle="navbar-default" type="button" class="z-20 mr-4 mb-2 inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-500 rounded-lg md:hidden bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600" aria-controls="navbar-default" aria-expanded="false">
        <span class="sr-only">Open main menu</span>
        <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 17 14">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 1h15M1 7h15M1 13h15"/>
        </svg>
    </button>
    <div class="hidden w-screen md:block md:w-auto fixed top-0 right-0 z-10" id="navbar-default">
      <ul class="h-screen font-medium flex flex-col p-4 md:p-0 border border-gray-100 bg-gray-300 md:flex-row md:space-x-8 rtl:space-x-reverse md:mt-0 md:border-0 md:bg-white dark:bg-gray-800 md:dark:bg-gray-900 dark:border-gray-700 w-screen ">
        <li>
          <a href="#about" class="block py-2 px-3 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent">Sobre</a>
        </li>
        <li>
          <a href="#skills" class="block py-2 px-3 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent">Habilidades</a>
        </li>
        <li>
          <a href="#works" class="block py-2 px-3 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent">Projetos</a>
        </li>
        <li>
          <a href="#contact" class="block py-2 px-3 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent">Contato</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
 -->
