<footer id="contact" class="px-4">    
    <app-contact to="douglas2570@gmail.com"></app-contact>
    
    <section>
        <p>© 2024 <a href="https://github.com/douglas2569" target="_blank">carlosdouglas.com</a>.Todos os direitos reservados</p>
        <p>Desenvolvidor por <a href="https://github.com/douglas2569" target="_blank">Carlos Douglas</a></p>
        <p>Design por <a href="https://br.pinterest.com/pin/338755203202571897/" target="_blank">Beyaz Polycarp</a></p>
    </section>
</footer>
