<footer id="contact" class="px-4">
    <div class="my-6">
      <h2 class="text-xl text-center">Contato</h2>
    </div>
    <app-contact to="douglas2570@gmail.com"></app-contact>

    <section class="text-center mt-8">
        <p>© 2024 <a href="https://github.com/douglas2569" target="_blank">carlosdouglas.com</a></p>
        <p>Todos os direitos reservados</p>
        <p class="text-sm mt-1">Desenvolvidor por <a href="https://github.com/douglas2569" target="_blank">Carlos Douglas</a></p>
        <!-- <p class="text-sm">Design por <a href="https://br.pinterest.com/pin/338755203202571897/" target="_blank">Beyaz Polycarp</a></p> -->
    </section>
</footer>
