<footer id="contact">
    <app-contact to="douglas2570@gmail.com"></app-contact>

    <section class="text-center mt-8 text-sm ">
        <p>© 2024 | Todos os direitos reservados</p>
        <p class="mt-1">Desenvolvidor por <a class="font-semibold" href="https://www.linkedin.com/in/carlos-douglas-79746927a/" target="_blank">Carlos Douglas</a></p>
    </section>
    <section class="credits bg-gray-50 p-4 mt-6">
      <h5 class="text-center my-4 font-semibold">Créditos</h5>
      <ul class="list-disc pl-4 text-sm ">
        <li>
          <a href="https://www.flaticon.com/free-icons/user" target="_blank" title="user icons">User icons created by Becris - Flaticon</a>
        </li>
        <li>
          <a href="https://www.flaticon.com/free-icons/email" target="_blank" title="email icons">Email icons created by Hilmy Abiyyu A. - Flaticon</a>
        </li>
        <li>
          <a href="https://www.flaticon.com/free-icons/project" target="_blank" title="project icons">Project icons created by Freepik - Flaticon</a>
        </li>
        <li>
          <a href="https://www.flaticon.com/free-icons/competence" target="_blank" title="competence icons">Competence icons created by Uniconlabs - Flaticon</a>
        </li>
        <li>
          <a href="https://www.flaticon.com/free-icons/information" target="_blank" title="information icons">Information icons created by riajulislam - Flaticon</a>
        </li>

        <li>
          <a href="https://www.flaticon.com/free-icons/app" target="_blank" title="app icons">App icons created by Freepik - Flaticon</a>
        </li>
        <li>
          <a href="https://www.flaticon.com/free-icons/ux-design" target="_blank" title="ux design icons">Ux design icons created by smashingstocks - Flaticon</a>
        </li>
        <li>
          <a href="https://www.flaticon.com/free-icons/backend" target="_blank" title="backend icons">Backend icons created by nangicon - Flaticon</a>
        </li>

        <li>
          <a href="https://www.flaticon.com/free-icons/very-happy" target="_blank" title="very happy icons">Very happy icons created by Narasena studio - Flaticon</a>
        </li>

        <li>
          <a href="https://www.flaticon.com/free-icons/linkedin" target="_blank" title="linkedin icons">Linkedin icons created by riajulislam - Flaticon</a>
        </li>

        <li>
          <a href="https://www.flaticon.com/free-icons/github" target="_blank" title="github icons">Github icons created by Xinh Studio - Flaticon</a>
        </li>

        <li>
          <a href="https://www.flaticon.com/free-icons/left-arrow" target="_blank" title="left arrow icons">Left arrow icons created by Freepik - Flaticon</a>
        </li>

      </ul>


    </section>

</footer>
